

:root{
  --white-color: #FFFFFF;
  --aqua-color: #7ACAE5;
  --gray-color: #87878A;
  --dark-color: #133063;
  --black-color: #000000;
  --black-color-100: #151C26;
  --black-color-200: #222222;

  --font: 'Inter', sans-serif;
  --h1: 88px;

  --z-header: 40;
  --z-modal-video: 50;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body{
  font-family: var(--font);
}

.container{
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.h1 {
  font-size: var(--h1);
}

.header{
  width: 100%;
  height: 100px;
  z-index: var(--z-header);
}

.menu{
  height: 100%;
  width: 100%;
  background-color: var(--aqua-color);
}

.menu > .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu-brand {
  display: flex;
  gap: .5rem;
  font-weight: 500;
  font-size: 17px;
  color: var(--black-color-100)
}

.menu-list{
  display: flex;
  gap: 2rem;
  color: var(--black-color-100);
  font-size: 14px;
}

.menu-actions {
  display: flex;
  gap: 1rem;
}

.menu-button {
  display: none;
}

.menu-filter-black {
  display: none;
}

.button {
  padding: .8rem 1.3rem;
  border-radius: 10px;
  color: var(--white-color);
  background-color: var(--black-color);
  cursor: pointer;
  transition: .2s ease;
}

.button:hover {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, .134);
}

.button-outline {
  color: var(--black-color);
  background-color: transparent;
  border: 1px solid var(--black-color)
}

.button-outline:hover {
  color: var(--white-color);
  background-color: var(--black-color);
  transition: .3s;
}

/* HOME */

.home {
  background-color: var(--aqua-color);
  height: 640px;
}

.home > .container {
  display: grid;
  padding-bottom: 2rem;
  grid-template-columns: .8fr 1.2fr;
  height: 100%;
}

.home-h1 {
  font-weight: 300;
  line-height: 1.1;
  align-self: end;
}

.home-media {
  position: relative;
  top: 7rem;
}

.home-cards {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  bottom: 8rem;
  width: 450px;
}

.home-cards figure {
  position: relative;
  z-index: 10;
}

.home-cards figure:nth-child(1) {
  top: -1.5rem;
}

.home-cards figure:nth-child(2) {
  top: -4rem;
}

.home-cards figure:nth-child(3) {
  left: 6rem;
}

.home-hand {
  position: absolute;
  right: -3rem;
  bottom: 4.9rem;
}

.home-play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 33%;
  left: -2.2rem;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  color: var(--black-color-100);
  line-height: 0;
  transition: .3s box-shadow;
}

.home-play:hover {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, .234);
}

.home-play::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--black-color-100);
  opacity: 0;
}

.home-play:hover::before {
  animation: zoom-out .3s forwards;
}

@keyframes zoom-out{
  0% {
    opacity: 0;
  }
  25% {
    transform: scale(1.5);
    opacity: .5;
  }
  50% {
    transform: scale(1.2);
    opacity: .7;
  }
  100% {
    transform: scale(1.4);
    opacity: 1;
  }
}

@media (max-width: 944px) {
  .container {
    padding: 0 6rem;
  }

  .header {
    position: fixed;
    top: 0;
  }

  .menu {
    position: relative;
  }

  .menu-list {
    position: absolute;
    top: 100%; 
    left: 100%;
    width: 300px;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    background: var(--aqua-color);
    z-index: var(--z-header);
  }

  .menu-actions {
    position: absolute;
    top: calc(100% + 210px); 
    left: 0;
    width: 300px;
    justify-content: center;
    padding-bottom: 2rem;
    background: var(--aqua-color);
  }

  .menu-button {
    display: inline-block;
  }

  .menu-filter-black {
    display: block;
    position: absolute;
    top: 100%;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
  }

  .menu.show .menu-list {
    transform: translateX(-100%);
  }

  .menu.show .menu-actions {
    transform: translateX(100%);
  }

  .home {
    height: 100vh;
    max-height: 1024px;
  }

  .home > .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .home-h1 {
    max-width: 480px;
    align-self: center;
  }
}


@media (max-width: 768px) {
  .container {
    padding: 0 4rem;
  }

  .home-h1 {
    padding-top: 3rem;
    align-self: start;
  }
}
/* HOME */
